html, body {
    height: 100%;
    border: 1px solid gray;
    background-color: #dff0d8;
}
.container-table {
    height: 170px;
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.title-row {
  -webkit-app-region: drag;
  height: 30px;
  background-color: gray;
}

.title {
  margin-top: 3px;
  color: white;
}

#close {
  -webkit-app-region: no-drag;
  margin-top: 3px;
  margin-left: 7px;
}
