html, body {
    height: 100%;
    border: 1px solid gray;
    background-color: #dff0d8;
}
.container-table {
    height: 170px;
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.title-row {
  background-color: gray
}
